<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208221222611-pkqdqnhkqfkottvkvq9vl0kue3k9clch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208221222611-pkqdqnhkqfkottvkvq9vl0kue3k9clch</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>208221222611-a1q1697rrh6ssvtso06p9glvlsmkf9hb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkAH-9l2JUoemnr6pyWkj_tb1VFQC3b2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>208221222611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tamwenatTablet</string>
	<key>PROJECT_ID</key>
	<string>onesysteamapp</string>
	<key>STORAGE_BUCKET</key>
	<string>onesysteamapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208221222611:ios:6a61cd0ac63ff3d2ef4626</string>
</dict>
</plist>